<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rabbitq.dao.CveMonitorMapper">
    <select id="selectAll" resultType="com.rabbitq.entity.CveMonitor">
        SELECT * FROM cve_monitor_github
    </select>
    <!-- 其他SQL映射 -->
</mapper>
